.140_85 { 
	overflow:hidden;
}.e140_85 { 
	background-color:rgba(56.000000461936, 120.00000044703484, 78.00000295042992, 1);
	width:1920px;
	height:1080px;
	position:absolute;
}.e326_178 { 
	width:1920px;
	height:201px;
	position:absolute;
	left:0px;
	top:0px;
}.e326_179 { 
	background-color:rgba(24.34214361011982, 54.599198028445244, 34.74301390349865, 0.05999999865889549);
	width:1920px;
	height:240.48214721679688px;
	position:absolute;
	left:0px;
	top:-39.48214340209961px;
}.e326_180 { 
	color:rgba(255, 255, 255, 1);
	width:560px;
	height:201px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Kufam;
	text-align:left;
	font-size:48px;
	letter-spacing:0;
}.e326_176 { 
	width:1796px;
	height:912px;
	position:absolute;
	left:62px;
	top:168px;
}.e326_177 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1796px;
	height:912px;
	position:absolute;
	left:0px;
	top:0px;
	border-radius:Symbol(figma.mixed)px;
}.e326_222 { 
	width:1796px;
	height:237px;
	position:absolute;
	left:0px;
	top:0px;
}.e326_223 { 
	width:347px;
	height:237px;
	position:absolute;
	left:0px;
	top:0px;
}.e326_224 { 
	background-color:rgba(125.99920973181725, 109.09428164362907, 109.09428164362907, 0.5);
	width:347px;
	height:237px;
	position:absolute;
	left:0px;
	top:0px;
}.e326_225 { 
	width:311px;
	height:237px;
	position:absolute;
	left:347px;
	top:0px;
}.e326_226 { 
	color:rgba(0, 0, 0, 1);
	width:266px;
	height:66px;
	position:absolute;
	left:0px;
	top:52px;
	font-family:Kufam;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e326_267 { 
	color:rgba(0, 0, 0, 1);
	width:214px;
	height:50px;
	position:absolute;
	left:26px;
	top:118px;
	font-family:Kufam;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e326_230 { 
	width:939px;
	height:237px;
	position:absolute;
	left:857px;
	top:0px;
}.e326_231 { 
	color:rgba(0, 0, 0, 1);
	width:939px;
	height:237px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Kufam;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e326_269 { 
	width:1796px;
	height:237px;
	position:absolute;
	left:0px;
	top:255px;
}.e326_270 { 
	width:347px;
	height:237px;
	position:absolute;
	left:0px;
	top:0px;
}.e326_271 { 
	background-color:rgba(125.99920973181725, 109.09428164362907, 109.09428164362907, 0.5);
	width:347px;
	height:237px;
	position:absolute;
	left:0px;
	top:0px;
}.e326_272 { 
	width:311px;
	height:237px;
	position:absolute;
	left:347px;
	top:0px;
}.e326_273 { 
	color:rgba(0, 0, 0, 1);
	width:266px;
	height:66px;
	position:absolute;
	left:0px;
	top:52px;
	font-family:Kufam;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e326_274 { 
	color:rgba(0, 0, 0, 1);
	width:214px;
	height:50px;
	position:absolute;
	left:26px;
	top:118px;
	font-family:Kufam;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e326_275 { 
	width:939px;
	height:237px;
	position:absolute;
	left:857px;
	top:0px;
}.e326_276 { 
	color:rgba(0, 0, 0, 1);
	width:939px;
	height:237px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Kufam;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e326_278 { 
	width:1796px;
	height:237px;
	position:absolute;
	left:0px;
	top:510px;
}.e326_279 { 
	width:347px;
	height:237px;
	position:absolute;
	left:0px;
	top:0px;
}.e326_280 { 
	background-color:rgba(125.99920973181725, 109.09428164362907, 109.09428164362907, 0.5);
	width:347px;
	height:237px;
	position:absolute;
	left:0px;
	top:0px;
}.e326_281 { 
	width:311px;
	height:237px;
	position:absolute;
	left:347px;
	top:0px;
}.e326_282 { 
	color:rgba(0, 0, 0, 1);
	width:266px;
	height:66px;
	position:absolute;
	left:0px;
	top:52px;
	font-family:Kufam;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e326_283 { 
	color:rgba(0, 0, 0, 1);
	width:214px;
	height:50px;
	position:absolute;
	left:26px;
	top:118px;
	font-family:Kufam;
	text-align:left;
	font-size:32px;
	letter-spacing:0;
}.e326_284 { 
	width:939px;
	height:237px;
	position:absolute;
	left:857px;
	top:0px;
}.e326_285 { 
	color:rgba(0, 0, 0, 1);
	width:939px;
	height:237px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Kufam;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}